{% extends "base.html" %}

{% block content %}
<h1>Добавить новую заявку</h1>
<form method="post" class="mt-4">
  <div class="form-group">
    <label for="request_number">Номер заявки:</label>
    <input type="text" class="form-control" id="request_number" name="request_number" required>
  </div>
  <div class="form-group">
    <label for="date_added">Дата добавления:</label>
    <input type="text" class="form-control" id="date_added" name="date_added" required>
  </div>
  <div class="form-group">
    <label for="car_type">Тип авто:</label>
    <input type="text" class="form-control" id="car_type" name="car_type" required>
  </div>
  <div class="form-group">
    <label for="car_model">Модель авто:</label>
    <input type="text" class="form-control" id="car_model" name="car_model" required>
  </div>
  <div class="form-group">
    <label for="problem_description">Описание проблемы:</label>
    <input type="text" class="form-control" id="problem_description" name="problem_description" required>
  </div>
  <div class="form-group">
    <label for="client_name">ФИО клиента:</label>
    <input type="text" class="form-control" id="client_name" name="client_name" required>
  </div>
  <div class="form-group">
    <label for="phone_number">Телефон:</label>
    <input type="text" class="form-control" id="phone_number" name="phone_number" required>
  </div>
  <button type="submit" class="btn btn-primary">Добавить заявку</button>
</form>
{% endblock %}
